<% content_for :head do %>
  <%= javascript_pack_tag 'projects' %>
<% end %>

<%= content_tag :div, id: 'project-form', data: { project: project.to_json(except: [:created_at, :updated_at]) } do %>
  <div class="modal-body">
    <div class="main-login main-center">   
      <div v-if="errors.length" class="alert alert-warning" role="alert">      
        <b>Campos obrigatórios:</b>
        <ul>
          <li v-for="error in errors">{{ error }}</li>
        </ul>            
      </div>  
    
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Projeto</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>            
            <input type="text" class="form-control" type="text" v-model="project.name"/>
          </div>
        </div>
      </div>
        
      <div class="form-group">
        <label for="name" class="cols-sm-2 control-label">Gerente</label>
        <div class="cols-sm-10">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>            
            <select v-model="project.manager_id" class="form-control">
              <option></option>
              <%= options_from_collection_for_select(@person_options_for_select, :id, :name,  project.manager.id) %>
            </select>
          </div>
        </div>
      </div>
    </div> 
  </div>
  
  <div class="modal-footer">        
    <button @click="validateProject() ? saveProject($event) : false" class="btn btn-success btn-sm btn-block">Salvar</button><br/>
    <button class="btn btn-danger btn-sm btn-block" onclick="window.location='<%= projects_path %>'">Cancelar</button>      
  </div>
<div id="teste"></div>


<% end %>
