<% 
  project = @project 
  histories = project.histories
%> 
<%= content_tag :div, id: 'histories-form', data: { histories: histories.to_json(except: [:created_at, :updated_at]) } do %>  
  <div id="cards"></div>  
<% end %>


<% content_for :footer do %>
    <%= javascript_pack_tag 'cards' %>
<% end %>
